.item {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #eee;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
}

.item:hover {
  cursor: pointer;
  background: #999999;
  transition: background 0.2s;
}
