*,
*::before,
*::after {
  box-sizing: border-box;
}

.form {
  width: 700px;
  margin: 20px auto;
  text-align: left;
}

.inputBlock {
  display: flex;
}

.inputBlock .input {
  width: 80%;
  margin-left: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 2;
}
.inputBlock .button {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.optionBlock {
  margin-top: 5px;
  display: flex;
}
